.footer-wrapper{
    background-color: gainsboro;
    .logo{
            height: 20vh;
    }
    
}
.category-wrapper{
    display: flex;
    justify-content: space-evenly;

    .company-wrapper{
        display: flex;
        flex-direction: column;
        gap: 0.5vh;
    }

    .customer-wrapper{
        display: flex;
        flex-direction: column;
        gap: 0.5vh;
    }

    .professional-wrapper{
        display: flex;
        flex-direction: column;
        gap: 0.5vh;
    }

    .social-link-wrapper{
        display: flex;
        flex-direction: column;
        gap: 0.5vh;
    }
}
.copyright{
    margin-top: 0.5vh;
    text-align: center;
    font-weight: bold;
}