.LandingPage-Navbar{
        display: flex;
        justify-content: space-around;
        align-items: center;
        height : 11.5vh;
        box-shadow: 1px 1px 10px 1px grey;
        .logo{
                height : 100%;
        }  
        .Search-boxes{
                display: flex;
                height : 50%;   

                .containers{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        .placeholdericon{
                                position: relative;
                                left : 50px;
                                height: 30px;
                        }
                        input{
                                width: 300px;
                                height: 100%;
                                border: 1px solid grey;
                                outline : none; 
                                font-size: 1rem;
                                padding: 0 10px 0 50px;
                                margin : 0 10px;
                                border-radius: 10px;
                                
                                &:focus{
                                        border: 1px solid 
                                        black;
                                }
                        }
                }
        }


        .icons{
                display: flex;
                justify-content: space-around;
                align-items: center;

                height : 100%;
                width : 10%;

                img{
                        height : 40%;

                        &:hover{
                                cursor: pointer;
                        }
                }
        }

}

.horizontal-rule{
        border: 0.5px solid gray;
}

.Landing-Page{
        display: flex;
        width : 100vw;
        height : 110vh;
        overflow-x: hidden;
        .info-services{
                display: flex;
                flex-direction: column;
                
                background-color:whitesmoke;
                width : 50vw;
                height : 100%;

        }

        .info-services{
                .text h1{
                        margin-top: 8vh;
                        margin-bottom: 2vh;
                        margin-left: 1vh;
                        width: 55%;
                        font-size: 8vh;
                        
                }
                .text p{
                        margin-bottom: 2vh;
                        font-size: 4vh;
                        margin-left: 2vh;
                        font-weight: bolder;
                        
                }
                .services{
                        margin-left: 5vw;
                        margin-top: 10vh;
                        width: 70%;
                        height:40%;
                        padding:1vw;
                        border: 1px solid gainsboro;
                        border-radius: 15px;
                        box-shadow: 0.25px 0.25px 0.1px 0.1px grey;
                        overflow: hidden;
                        p{
                                font-size: x-large;
                        }
                        .services-logo{
                                margin-top: 10vh;
                                display: flex;
                                justify-content: space-evenly;
                                height: 90%;
                                div{
                                        margin: 1vh;
                                        text-align: center;
                                        background-color: gainsboro;
                                        padding: 2%;
                                        height:18vh;
                                        width: 25vh;
                                        border-radius: 10px;
                                        :hover{
                                                cursor: pointer;
                                        }
                                }
                                img{
                                        height: 10vh;
                                }
                        }
                }

        

        }
        .images{
                width: 50vw;
                height: 100%;
                display: flex;
                background-color:whitesmoke;
                justify-content: center;
                align-items: center;

                .holder{
                        height : 98%;
                        width : 95%;
                        display: flex;
                        flex-wrap: wrap;
                        background-color:whitesmoke;

                        img{
                                width: 23vw;
                                margin: 0.3vw;
                                border-radius: 2px;
                        }
                        .plumber{
                                height: 45vh;
                        }
                        .electrician{
                                height: 50vh;
                        }
                        .painter{
                                height: 50vh;
                        }
                        .mechanic{
                                height: 50vh;
                        }

                        /* .plumber.rowspan{
                                height : 50%;
                                width : 50%;
                                background-color: yellow;
                        } */
                }

        }
}

