.favorites {
  display: flex;
  flex-direction: column;
  .heading {
    font-size: 40px;
    font-weight: bold;
    align-self: center;
  }

  .card-container {
    display: flex;
    gap: 20px;
    padding: 0px 30px;
        flex-wrap: wrap;

    .bookmark-container {
      position: relative;
      .bookmark {
        position: absolute;
        top: 5px;
        right: 15px;
        height: 30px;
        width: 30px;

        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}
